body {
  font: 15px/20px Arial, sans-serif;
  height: 1820px;
}
  
.container {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
  margin-top: -80px;
  margin-bottom: 80px;
}
  
.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 2s;
}
  
.item {
  display: block;
  position: absolute;
  background: #000;
  width: 200px;
  height: 425px;
  line-height: 200px;
  text-align: center;
  opacity: 1;
  border-radius: 10px;
  box-shadow: 0 0 7px #08f, 0 0 15px #08f, 0 0 15px #08f;
}
  
.a {
  transform: rotateY(0deg) translateZ(250px);
  background: white;
}
.b {
  transform: rotateY(45deg) translateZ(250px);
  background: white;
}
.c {
  transform: rotateY(90deg) translateZ(250px);
  background: white;
}
.d {
  transform: rotateY(135deg) translateZ(250px);
  background: white;
}
.e {
  transform: rotateY(180deg) translateZ(250px);
  background: white;
} 
.f {
  transform: rotateY(225deg) translateZ(250px);
  background: white;
}
.g {
  transform: rotateY(270deg) translateZ(250px);
  background: white;
}
.h {
  transform: rotateY(315deg) translateZ(250px);
  background: white;
}

.next, .prev {
  color: #444;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 0 0 3px #08f, 0 0 7px #08f, 0 0 20px #08f;
}

.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}

.next { right: 5em; }
.prev { left: 5em; }

@media (prefers-color-scheme: dark) {
body {
  background: #0d1117;
 }
}