#slider {
	position: relative;
	width: 20%;
	height: 650px;
	margin: 150px auto;
	perspective: 500px;
	transform-style: preserve-3d;
  }
  
input[type=radio] {
	position: relative;
	top: 108%;
	left: 50%;
	width: 18px;
	height: 18px;
	margin: 0 15px 0 0;
	opacity: 0.4;
	transform: translateX(-83px);
	cursor: pointer;
  }
  
  
input[type=radio]:nth-child(5) {
	margin-right: 0px;
  }
  
input[type=radio]:checked {
	opacity: 1;
	
  }
  
#slider label,
#slider label img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	font-size: 70px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.1s;
	border-radius: 28px;

  }
  
  
  
  /* Slider Functionality */
  
  /* Active Slide */
  #s1:checked ~ #slide1,
   #s2:checked ~ #slide2,
	#s3:checked ~ #slide3,
	 #s4:checked ~ #slide4,
	  #s5:checked ~ #slide5 {
	box-shadow: 0 10px 28px #005fb2;
	border-style: solid;
	border-color: #005fb2;
	transform: translate3d(0%, 0, 20px);

  }
  
  /* Next Slide */
  #s1:checked ~ #slide2,
   #s2:checked ~ #slide3,
	#s3:checked ~ #slide4,
	 #s4:checked ~ #slide5,
	  #s5:checked ~ #slide1 {
	box-shadow: 0 6px 10px #005fb2;
	transform: translate3d(0%, 0, -100px);
	filter: blur(2px);
	-webkit-filter: blur(2px);
	margin-left: 250px;
	margin-right: 250px;
	border-style: solid;
	border-color: #005fb2;
  }
  
  
  /* Next to Next Slide */
  #s1:checked ~ #slide3,
   #s2:checked ~ #slide4,
	#s3:checked ~ #slide5,
	 #s4:checked ~ #slide1,
	  #s5:checked ~ #slide2 {
		box-shadow: 0 6px 10px #005fb2;
	transform: translate3d(0%, 0, -250px);
	filter: blur(2px);
	-webkit-filter: blur(2px);
	margin-left: 550px;
	margin-right: 550px;
	border-style: solid;
	border-color: #005fb2;

  }
  
  /* Previous to Previous Slide */
  #s1:checked ~ #slide4,
   #s2:checked ~ #slide5,
	#s3:checked ~ #slide1,
	 #s4:checked ~ #slide2,
	  #s5:checked ~ #slide3 {
		box-shadow: 0 6px 10px #005fb2;
	transform: translate3d(0%, 0, -250px);
	filter: blur(2px);
	-webkit-filter: blur(2px);
	margin-left: -550px;
	margin-right: -550px;
	border-style: solid;
	border-color: #005fb2;
  }
  
  /* Previous Slide */
  #s1:checked ~ #slide5,
   #s2:checked ~ #slide1,
	#s3:checked ~ #slide2,
	 #s4:checked ~ #slide3,
	  #s5:checked ~ #slide4 {
	box-shadow: 0 6px 10px #005fb2;
	transform: translate3d(0, 0, -100px);
	filter: blur(2px);
  -webkit-filter: blur(2px);
  margin-left: -250px;
	margin-right: -250px;
	border-style: solid;
	border-color: #005fb2;
  }
  @media screen and (max-width: 1200px) {

	 #slider {
		 width: 25%;
		 height: 650px;
		 perspective: 500px;
		 transform-style: preserve-3d;
		 
	   }
   }
  @media screen and (max-width: 1000px) {
  /* Previous to Previous Slide */
  #s1:checked ~ #slide4,
   #s2:checked ~ #slide5,
	#s3:checked ~ #slide1,
	 #s4:checked ~ #slide2,
	  #s5:checked ~ #slide3 {
	transform: translate3d(0%, 0, -250px);
	filter: blur(2px);
	-webkit-filter: blur(2px);
	margin-left: -0px;
	margin-right: -0px;
  }
	/* Next Slide */
	#s1:checked ~ #slide2,
	#s2:checked ~ #slide3,
	 #s3:checked ~ #slide4,
	  #s4:checked ~ #slide5,
	   #s5:checked ~ #slide1 {
	 box-shadow: 0 6px 10px #005fb2;
	 transform: translate3d(0%, 0, -100px);
	 filter: blur(2px);
	 -webkit-filter: blur(2px);
	 margin-left: 150px;
	 margin-right: 150px;
 
   }
	 /* Next to Next Slide */
   #s1:checked ~ #slide3,
	#s2:checked ~ #slide4,
	 #s3:checked ~ #slide5,
	  #s4:checked ~ #slide1,
	   #s5:checked ~ #slide2 {
	 box-shadow: 0 1px 4px #005fb2;
	 transform: translate3d(0%, 0, -250px);
	 filter: blur(2px);
	 -webkit-filter: blur(2px);
	 margin-left: -50px;
	 margin-right: -50px;
   }
	 /* Previous Slide */
	 #s1:checked ~ #slide5,
	 #s2:checked ~ #slide1,
	  #s3:checked ~ #slide2,
	   #s4:checked ~ #slide3,
		#s5:checked ~ #slide4 {
	  box-shadow: 0 6px 10px #005fb2;
	  transform: translate3d(0, 0, -100px);
	  filter: blur(2px);
	-webkit-filter: blur(2px);
	margin-left: -150px;
	  margin-right: -150px;
	}
	 #slider {
		 width: 30%;
		 height: 650px;
		 perspective: 500px;
		 transform-style: preserve-3d;
		 
	   }
   }
  @media screen and (max-width: 650px) {
	/* Next Slide */
	#s1:checked ~ #slide2,
	#s2:checked ~ #slide3,
	 #s3:checked ~ #slide4,
	  #s4:checked ~ #slide5,
	   #s5:checked ~ #slide1 {
	 box-shadow: 0 6px 10px #005fb2;
	 transform: translate3d(0%, 0, -100px);
	 filter: blur(2px);
	 -webkit-filter: blur(2px);
	 margin-left: 150px;
	 margin-right: 150px;
 
   }
	 /* Next to Next Slide */
   #s1:checked ~ #slide3,
	#s2:checked ~ #slide4,
	 #s3:checked ~ #slide5,
	  #s4:checked ~ #slide1,
	   #s5:checked ~ #slide2 {
	 box-shadow: 0 1px 4px #005fb2;
	 transform: translate3d(0%, 0, -250px);
	 filter: blur(2px);
	 -webkit-filter: blur(2px);
	 margin-left: -50px;
	 margin-right: -50px;
   }
	 /* Previous Slide */
	 #s1:checked ~ #slide5,
	 #s2:checked ~ #slide1,
	  #s3:checked ~ #slide2,
	   #s4:checked ~ #slide3,
		#s5:checked ~ #slide4 {
	  box-shadow: 0 6px 10px #005fb2;
	  transform: translate3d(0, 0, -100px);
	  filter: blur(2px);
	-webkit-filter: blur(2px);
	margin-left: -150px;
	  margin-right: -150px;
	}
	 #slider {
		 width: 40%;
		 height: 450px;
		 perspective: 500px;
		 transform-style: preserve-3d;
		 
	   }
   }
  @media screen and (max-width: 500px) {
   /* Next Slide */
   #s1:checked ~ #slide2,
   #s2:checked ~ #slide3,
	#s3:checked ~ #slide4,
	 #s4:checked ~ #slide5,
	  #s5:checked ~ #slide1 {
	box-shadow: 0 6px 10px #005fb2;
	transform: translate3d(0%, 0, -100px);
	filter: blur(2px);
	-webkit-filter: blur(2px);
	margin-left: 150px;
	margin-right: 150px;

  }
	/* Next to Next Slide */
  #s1:checked ~ #slide3,
   #s2:checked ~ #slide4,
	#s3:checked ~ #slide5,
	 #s4:checked ~ #slide1,
	  #s5:checked ~ #slide2 {
	box-shadow: 0 1px 4px #005fb2;
	transform: translate3d(0%, 0, -250px);
	filter: blur(2px);
	-webkit-filter: blur(2px);
	margin-left: -550px;
	margin-right: -550px;
  }
    /* Previous Slide */
	#s1:checked ~ #slide5,
	#s2:checked ~ #slide1,
	 #s3:checked ~ #slide2,
	  #s4:checked ~ #slide3,
	   #s5:checked ~ #slide4 {
	 box-shadow: 0 6px 10px #005fb2;
	 transform: translate3d(0, 0, -100px);
	 filter: blur(2px);
   -webkit-filter: blur(2px);
   margin-left: -150px;
	 margin-right: -150px;
   }
	#slider {
		width: 40%;
		height: 450px;
		perspective: 500px;
		transform-style: preserve-3d;
		
	  }
  }
  @media screen and (max-width: 400px) {
	/* Next Slide */
	#s1:checked ~ #slide2,
	#s2:checked ~ #slide3,
	 #s3:checked ~ #slide4,
	  #s4:checked ~ #slide5,
	   #s5:checked ~ #slide1 {
	 box-shadow: 0 6px 10px #005fb2;
	 transform: translate3d(0%, 0, -100px);
	 filter: blur(2px);
	 -webkit-filter: blur(2px);
	 margin-left: 150px;
	 margin-right: 150px;
 
   }
	 /* Next to Next Slide */
   #s1:checked ~ #slide3,
	#s2:checked ~ #slide4,
	 #s3:checked ~ #slide5,
	  #s4:checked ~ #slide1,
	   #s5:checked ~ #slide2 {
	 box-shadow: 0 1px 4px #005fb2;
	 transform: translate3d(0%, 0, -250px);
	 filter: blur(2px);
	 -webkit-filter: blur(2px);
	 margin-left: -550px;
	 margin-right: -550px;
   }
	 /* Previous Slide */
	 #s1:checked ~ #slide5,
	 #s2:checked ~ #slide1,
	  #s3:checked ~ #slide2,
	   #s4:checked ~ #slide3,
		#s5:checked ~ #slide4 {
	  box-shadow: 0 6px 10px #005fb2;
	  transform: translate3d(0, 0, -100px);
	  filter: blur(2px);
	-webkit-filter: blur(2px);
	margin-left: -150px;
	  margin-right: -150px;
	}
	 #slider {
		 width: 35%;
		 height: 400px;
		 perspective: 500px;
		 transform-style: preserve-3d;
		 
	   }
   }
  @media screen and (max-width: 300px) {
	/* Next Slide */
	#s1:checked ~ #slide2,
	#s2:checked ~ #slide3,
	 #s3:checked ~ #slide4,
	  #s4:checked ~ #slide5,
	   #s5:checked ~ #slide1 {
	 box-shadow: 0 6px 10px #005fb2;
	 transform: translate3d(0%, 0, -100px);
	 filter: blur(2px);
	 -webkit-filter: blur(2px);
	 margin-left: 120px;
	 margin-right: 120px;
 
   }
	 /* Next to Next Slide */
   #s1:checked ~ #slide3,
	#s2:checked ~ #slide4,
	 #s3:checked ~ #slide5,
	  #s4:checked ~ #slide1,
	   #s5:checked ~ #slide2 {
	 box-shadow: 0 1px 4px #005fb2;
	 transform: translate3d(0%, 0, -250px);
	 filter: blur(2px);
	 -webkit-filter: blur(2px);
	 margin-left: -580px;
	 margin-right: -580px;
   }
	 /* Previous Slide */
	 #s1:checked ~ #slide5,
	 #s2:checked ~ #slide1,
	  #s3:checked ~ #slide2,
	   #s4:checked ~ #slide3,
		#s5:checked ~ #slide4 {
	  box-shadow: 0 6px 10px #005fb2;
	  transform: translate3d(0, 0, -100px);
	  filter: blur(2px);
	-webkit-filter: blur(2px);
	margin-left: -120px;
	  margin-right: -120px;
	}
	 #slider {
		 width: 25%;
		 height: 350px;
		 perspective: 500px;
		 transform-style: preserve-3d;
	   }
   }
