@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');

h2{
  color:#fff;
  text-align:center;
  font-size:1.5em;
  animation-duration: 0.7s;
  animation-name: slidein1;
}
p {
    animation-duration: 0.7s;
    animation-name: slidein;
  }
h1 {
    font-size: 22px;
    animation-duration: 0.7s;
    animation-name: slidein1;
}

.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.tab{
  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px;
  background:#000;
  display:inline-block;
  color:#fff;
  border-radius: 50px;
  box-shadow: 0 0 3px #08f, 0 0 7px #08f, 0 0 20px #005fb2;
  transition: 0.6s;
}
.tab:hover {
    background-color: #08f;
    color: black;
    border: 0;
    box-shadow: 0 0 3px #08f, 0 0 7px #08f, 0 0 10px #005fb2;
}
.panels{
  background:#1f2227;
  min-height:400px;
  width:1200px;
  border-radius:50px;
  overflow:hidden;
  padding:20px;  
  margin-top: 10px;
}
.panel{
  display:none;
  animation: fadein .8s;
  
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
  background:#08f;
  color:#fff;
  border-top: 12px solid #000;
  border-left: 12px solid #000;
  border-right: 12px solid #000;
  border-bottom: 12px solid #000;
}

@media screen and (max-width: 1300px) {
    .panels{
        background:#1f2227;
        min-height:400px;
        width:1000px;
        border-radius:50px;
        overflow:hidden;
        padding:20px;  
        margin-top: 15px;
      }
  }
  
  @media screen and (max-width: 1024px) {
    .panels{
        background:#1f2227;
        min-height:400px;
        width:900px;
        border-radius:50px;
        overflow:hidden;
        padding:20px;  
        margin-top: 15px;
      }
  }
  @media screen and (max-width: 900px) {
    .panels{
        background:#1f2227;
        min-height:400px;
        width:900px;
        border-radius:50px;
        overflow:hidden;
        padding:20px;  
        margin-top: 15px;
      }
    }
      @media screen and (max-width: 800px) {
        .panels{
            background:#1f2227;
            min-height:400px;
            width:900px;
            border-radius:50px;
            overflow:hidden;
            padding:20px;  
            margin-top: 15px;
          }
  }
  @media screen and (max-width: 700px) {
    .tab {
        font-size: 16px;
    }
    .panels{
        background:#1f2227;
        min-height:400px;
        width:700px;
        border-radius:50px;
        overflow:hidden;
        padding:20px;  
        margin-top: 15px;
      }
    }
   @media screen and (max-width: 650px) {
    .tab {
        font-size: 10px;
    }
    .panels{
        background:#1f2227;
        min-height:400px;
        width:500px;
        border-radius:50px;
        overflow:hidden;
        padding:0px;  
        margin-top: 15px;
        
      }
      h2{
        color:#fff;
        text-align:left;
        font-size:1.0em;
        animation-duration: 0.7s;
        animation-name: slidein1;
      }
      h1 {
        font-size: 16px;
        animation-duration: 0.7s;
        animation-name: slidein1;
        margin: auto;
        text-align: left;

    }
    img{
        width: 42px;
        height: 42px;
        margin-left: -50px;
    }
    }
  @media screen and (max-width: 500px) {
    .tab {
        font-size: 10px;
    }
    .panels{
        background:#1f2227;
        min-height:400px;
        width:450px;
        border-radius:50px;
        overflow:hidden;
        padding:20px;  
        margin-top: 15px;
        
      }
      h2{
        color:#fff;
        text-align:left;
        font-size:1.0em;
        animation-duration: 0.7s;
        animation-name: slidein1;
      }
      h1 {
          font-size: 16px;
          animation-duration: 0.7s;
          animation-name: slidein1;
          margin: auto;
          text-align: left;

      }
      img{
          width: 42px;
          height: 42px;
          margin-left: -50px;
      }
  }
  @media screen and (max-width: 300px) {
    .tab {
        font-size: 10px;
    }
    .panels{
        background:#1f2227;
        min-height:400px;
        width:400px;
        border-radius:50px;
        overflow:hidden;
        padding:20px;  
        margin-top: 15px;
        
      }
      h2{
        color:#fff;
        text-align:left;
        font-size:1.0em;
        animation-duration: 0.7s;
        animation-name: slidein1;
      }
      h1 {
        font-size: 14px;
        animation-duration: 0.7s;
        animation-name: slidein1;
        margin: auto;
        text-align: left;

    }
    img{
        width: 42px;
        height: 42px;
        margin-left: -50px;
    }
      
  }