.container3 {
  max-width: 1450px;
  margin: 0 auto;
  margin-bottom: -185px;
}

.grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-item {
  height: 490px;
  flex-basis: 20%;
  flex: auto;
  width: 350px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.dload_size {
  color: white;
  margin-bottom: 15px;
  font-size: 22px;
}

.dload_info {
  color: white;
  margin-bottom: 15px;
  font-size: 14px;
}

.dload_info-fstp {
  font-size: 13px;
  color: white;
}

.resize1 {
  border: 1px solid #08f;
  border-radius: 6px;
  margin-bottom: 15px;
}

.grid-item-wrapper {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
  background: transparent;
  margin: 0;
  height: 100%;
}

.container3 .text {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 23%;
  /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 60%;
  /* Set the width of the positioned div */
  color: #08f;
  transform: rotate(-36deg);
}

.box-dl {
  overflow: auto;
  position: relative;
  display: block;
  float: left;
  width: 33.3%;
}

button {
  border: 1px solid #08f;
  padding: 16px;
  border-radius: 6px;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 12px;
  transition: all 0.15s;
  background-color: transparent;
  width: 85px;
  line-height: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;

  &:before {
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 3px;
    height: 5px;
    background-color: #08f;
    content: "";
  }

  &:hover {
    background-color: #08f;
    color: white;
    transition: all 0.2s;
  }
}

@media screen and (max-width: 900px) {
  .container3 {
    width: 100px;
    flex: 2 2 25%;
  }

  .resize1 {
    max-width: 65%;
    height: 180px;
  }

  .container3 .text {
    top: 20%;
    width: 80%;
    transform: rotate(-40deg);
  }

  .dload_size {
    color: white;
    margin-bottom: 15px;
    font-size: 24px;
  }

  .dload_info {
    color: white;
    margin-bottom: 15px;
    font-size: 13px;
  }

  .grid-item {
    height: 445px;
  }

  .btn-wrapper {
    span {
      background-color: transparent;
    }
  }
}
